<!--The content below is only a placeholder and can be replaced.-->
<lib-Login-Library></lib-Login-Library>

    
       
        
          <!-- <div *ngIf="Checklogin(); then authenticated else guest"></div>
          
          <ng-template #guest>
            <button (click)="fb.signInWithGoogle()">Sign in with Google</button>
          </ng-template>
          
          <ng-template #authenticated>
            <button (click)="signout()">Logout</button>
          </ng-template>
       -->

       <!-- <button (click)="fb.signInWithGoogle()">Sign in with Google</button> -->

      
